{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home-Employee-Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    $(document).ready(function(){ 	// delete emp
        $(document).on("click", "#delete-emp", function () {
            var $this = $(this),
                emp_id = $this.data("id");
            console.log(emp_id);
            $('#delete_emp').empty().append(
                $(document.createElement('a')).prop({
                    href: '/home/delete-employee/'+emp_id+'/',
                    class: 'fa fa-trash text-dark',
                    style: 'font-size:30px;',
                })
            );
        });
        // update emp
        $(document).on("click", "#update-emp", function () {
            var $this = $(this),
                emp_id = $this.data("id");
            console.log('its id');
            console.log(emp_id);
            window.history.pushState("object or string", "Title","/home/update-employee/"+emp_id+"/");
            $("#editEmployeeModal").load(location.href + " #editEmployeeModal>*","");

        });
    });
    </script>
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li %} %} class="{{ message.tags }}" endif ifmessage.tags {% {%>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-5">
                        <h2>Employee <b>Management</b></h2>
                    </div>
                    <div class="col-sm-7">
                        <a href="{% url 'logout' %}" class="btn btn-secondary"><i class="material-icons"></i> <span>Logout</span></a>
                        <a href="#addEmployeeModal" class="btn btn-secondary" data-toggle="modal">
                            <i class="material-icons">&#xE147;</i>
                            <span>Add New User</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Full Name</th>
                        <th>Company</th>
                        <th>City</th>
                        <th>Mobile</th>
                        <th>Employee ID</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for employee_data in employee_data %}
                    <tr>
                        <td>
                            {{forloop.counter}}
                        </td>
                        <td><a href="#">
                            {{employee_data.first_name}} {{employee_data.last_name}}</a></td>
                        <td>{{employee_data.company}}</td>
                        <td>{{employee_data.city}}</td>
                        <td>{{employee_data.mobile}}</td>
                        <td>{{employee_data.employee_id}}</td>
                        <td>
                            <a href="#editEmployeeModal" class="settings edit open-UpdateEmp" title="Settings"
                               data-id="{{employee.id}}" data-toggle="modal" id="update-emp">
                                <i class="material-icons" title="Edit">
                                    &#xE8B8;
                                </i>
                            </a>
                            <a href="#deleteEmployeeModal" class="delete open-DeleteEmp" data-id="{{employee.id}}"
                               data-toggle="modal" title="Delete" id="delete-emp" >
                                <i class="material-icons" data-toggle="tooltip">
                                    &#xE5C9;
                                </i>
                            </a>
                        </td>
                    </tr>
                {%endfor%}
                </tbody>
            </table>

            <div class="row">
                <div class="hint-text">Showing <b>2</b> entries per page</div>
                <div class="col ml-3 my-3">
                    {% if employee_data.has_other_pages %}
                        <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if employee_data.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ employee_data.previous_page_number }}">&laquo;Prev
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">&laquo;Prev
                                    </a>
                                </li>
                            {% endif %}
                            {% for i in employee_data.paginator.page_range %}
                                {% if forloop.counter <= 25 %}
                                    {% if employee_data.number == i %}

                                        <li class="page-item active p-0">
                                            <a class="page-link">{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if employee_data.has_next %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ employee_data.next_page_number }}">Next&raquo;
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link">Next&raquo;
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    {% endif %}
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal HTML -->
<div class="modal fade" id="addEmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{% url 'employee_app:save-employee' %}" method="post"> {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee</h4>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>First Name</label>
                        {{employee_form.first_name}}
                        {{employee_form.first_name.errors}}
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        {{employee_form.last_name}}
                        {{employee_form.last_name.errors}}
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        {{employee_form.email}}
                        {{employee_form.email.errors}}
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        {{employee_form.address}}
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        {{employee_form.city}}
                        {{employee_form.city.errors}}
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        {{employee_form.mobile}}
                        {{employee_form.mobile.errors}}
                    </div>
                    <div class="form-group">
                        <label>DOB</label>
                        {{employee_form.dob}}
                        {{employee_form.dob.errors}}
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        {{employee_form.company}}
                        {{employee_form.company.errors}}
                    </div>
                    <div class="form-group">
                        <label>Employee ID</label>
                        {{employee_form.employee_id}}
                        {{employee_form.employee_id.errors}}
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        {{employee_form.password}}
                        {{employee_form.password.errors}}
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
                    <input class="btn btn-success" type="submit" value="Add">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<!-- Edit Modal HTML -->
<div class="modal fade" id="editEmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/home/update-employee-save/{{emp_obj.id}}/" method="post"> {% csrf_token %}
                <div class="modal-header">
                    <h4 class="modal-title">Edit Employee</h4>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        {{update_emp_form.first_name}}
                        {{update_emp_form.first_name.errors}}
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        {{update_emp_form.last_name}}
                        {{update_emp_form.last_name.errors}}
                    </div>
			    <div class="form-group">
                        <label>Email</label>
                        {{update_emp_form.email}}
                        {{update_emp_form.email.errors}}
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        {{update_emp_form.address}}
                        <!--  not mandatory for error-->
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        {{update_emp_form.city}}
                        {{update_emp_form.city.errors}}
                    </div>
                    <div class="form-group">
                        <label>Mobile</label>
                        {{update_emp_form.mobile}}
                        {{update_emp_form.mobile.errors}}
                    </div>
                    <div class="form-group">
                        <label>DOB</label>
                        {{update_emp_form.dob}}
                        {{update_emp_form.dob.errors}}
                    </div>
                    <div class="form-group">
                        <label>Company</label>
                        {{update_emp_form.company}}
                        {{update_emp_form.company.errors}}
                    </div>
                    <div class="form-group">
                        <label>Employee ID</label>
                        {{update_emp_form.employee_id}}
                        {{update_emp_form.employee_id.errors}}
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
                    <input class="btn btn-info" type="submit" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div class="modal fade" id="deleteEmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Delete Employee</h4>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer" id="delete_emp">
                    <input class="btn btn-default" data-dismiss="modal" type="button" value="Cancel">
                    <input class="btn btn-danger" type="button" value="Delete">
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>