
{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Website Font style -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
		<title>Register</title>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h3 class="text-center">Register</h3>
					<form class="" method="post" action="{% url 'signup-save' %}" enctype= multipart/form-data>
                        {% csrf_token %}
						<div class="form-group">
							<label for="first_name" class="cols-sm-2 control-label">First Name *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" id="name" name="{{form.first_name.name}}"
                                           placeholder="Enter your first name"
                                           value="{{form.first_name.value|default_if_none:''}}" required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="last_name" class="cols-sm-2 control-label">Last Name *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="{{form.last_name.name}}"
                                           placeholder="Enter your last name"
                                           value="{{form.last_name.value|default_if_none:''}}" required>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Email *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" id="email" name="{{form.email.name}}"
                                           placeholder="Enter your email"
                                           value="{{form.email.value|default_if_none:''}}" required>

								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="password1" class="cols-sm-2 control-label">Password *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon">
                                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                    </span>
									<input type="password" class="form-control" id="password1"
                                           name="{{form.password1.name}}" placeholder="Enter your password"
                                           value="{{form.password1.value|default_if_none:''}}" required>

								</div>
							</div>
						</div>
                        <div class="form-group">
							<label for="password2" class="cols-sm-2 control-label">Confirm Password *</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon">
                                        <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                    </span>
									<input type="password" class="form-control" id="password2"
                                           name="{{form.password2.name}}" placeholder="Enter your password"
                                           value="{{form.password2.value|default_if_none:''}}" required>

								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="address" class="cols-sm-2 control-label">Address</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" id="address" name="{{form.address.name}}"
                                           placeholder="Enter your address"
                                           value="{{form.address.value|default_if_none:''}}">
								</div>
							</div>
						</div>

                        <div class="form-group">
							<label for="dob" class="cols-sm-2 control-label">Date Of Birth</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="date" class="form-control" id="dob" name="{{form.dob.name}}"
                                           placeholder="Date of birth"
                                           value="{{form.dob.value|default_if_none:''}}">
								</div>
							</div>
						</div>

                        <div class="form-group">
							<label for="company" class="cols-sm-2 control-label">Company</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" id="company" name="{{form.company.name}}"
                                           placeholder="Enter company name"
                                           value="{{form.company.value|default_if_none:''}}">
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Submit</button>
						</div>
					</form>
                    {% if messages %}
					<ul class="messages">
						{% for message in messages %}
						{% if message.tags %}
						<li class="{{ message.tags }}">{{ message }}</li>
						{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
				</div>
			</div>
		</div>

		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

	</body>
</html>